@page "/"



<PageTitle>Terms of use</PageTitle>

<section class="dl-blurbs">
<dl>
	<dt>Design</dt>
	<dd>a</dd>
	<dt>Develop</dt>
	<dd>b</dd>
	<dt>Test</dt>
	<dd>c</dd>
</dl>
<dl>
	<dt>Deliver</dt>
	<dd>d</dd>
	<dt>Rinse</dt>
	<dd>e</dd>
	<dt>Repeat</dt>
	<dd>f</dd>
</dl>

</section>

