@inherits Dialog<string>;

<div class="dialog" active="@IsOpen.ToString()">
    <dialog open="@IsOpen">
        <h3>Rename item</h3>
        <p>Enter new @ItemTypeName name</p>
        <input type="text" @bind-value=ItemName />
        <div>
            <button @onclick="Rename">Rename</button>
            <button @onclick="Close">Cancel</button>
        </div>
    </dialog>
</div>

@code {
    [Parameter]
    public string ItemTypeName { get; set; }

    private string ItemName;

    private void Rename()
    {
        Confirm(ItemName);
    }
}
