@inherits Dialog<string>;

<dialog open="@IsOpen">
    <h3>Rename item</h3>
    <p>Enter new @ItemTypeName name</p>
    <input type="text" @bind-value=ItemName />
    <div>
        <button @onclick="Rename">Rename</button>
        <button @onclick="CloseDialog">Cancel</button>
    </div>
</dialog>

@code {
    [Parameter]
    public string ItemTypeName { get; set; }

    private string ItemName;

    private void Rename()
    {
        ConfirmAction(ItemName);
    }
}
