@using ObjectRecognition.Enums;
@using ObjectRecognition.Extentions

@inherits Dialog<string>;

<div class="dialog" active="@IsOpen.ToString()">
    <dialog open="@IsOpen">
        <h3>Rename item</h3>
        <p>Enter new @(ItemTypeName) name</p>
        <p>
            <input type="text" @bind-value=ItemName />
        </p>
        <p>
            <button @onclick="Rename">Rename</button>
            <button @onclick="Close">Cancel</button>
        </p>
    </dialog>
</div>

@code {
    [Parameter]
    public ItemType ItemType { get; set; }

    private string ItemTypeName => ItemType.ToString().SplitCamelCase();
    private string ItemName;

    private void Rename()
    {
        Confirm(ItemName);
    }
}
