<dialog open="@isOpen">
    <h3>Confirm the deletion</h3>
    <p>Enter @itemType name?</p>
    <input type="text" @bind-value=itemName/>
    <div>
        <button @onclick="Add">Add</button>
        <button @onclick="Close">Cancel</button>
    </div>
</dialog>

@code {
    private bool isOpen = false;
    private string itemType;
    private string itemName;
    private Delegate onAdd;

    public void Show(string type, Delegate add)
    {
        isOpen = true;
        itemType = type;
        onAdd = add;
        StateHasChanged();
    }

    private void Add()
    {
        onAdd.DynamicInvoke(itemName);
        isOpen = false;
    }

    private void Close()
    {
        isOpen = false;
    }
}
